.game-sections {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 60px;
  background-color: #0a0615;
  color: white;
  gap: 30px;
}



.game-cards {
  display: flex;
  background-color: #1c152a;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  align-items: center;
}



.card-images img {
  width: 130px;
  height: 130px;
}



.game-info {
    padding: 10px 0 0;
    text-align: center;
    font-size: 14px;
}

.game-info h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.rating {
    margin: 4px 0;
}

.game-info h5 {
    font-size: 12px;
    margin-top: 5px;
    color: #ccc;
}

.game-category {
    flex: 1;
    max-width: 500px;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.category-header h2 {
    font-size: 20px;
}

.category-header a {
    font-size: 14px;
    color: #9e9e9e;
    text-decoration: none;
}